
* {
  box-sizing: border-box;
}
  .container-box{
    padding-top: 100px;
   
   
}






.image-fluid{
  width: 140px;
  height: 120px;
  padding: 30px;
}


p {
    color: black;
}


/* Carousel image */

.container{
  margin-top: 50px;
  display: inline-block;
  text-align: center;
}



#container { 
  display: flex;
  margin-top: 10%;
  width: 100%;
  height:600px;
  /* max-height: 40vh; */
  justify-content: center;
  text-align: center;
 

 
}
#left { 
  
  width: 2%;
  height: 6%;
  margin: auto 0;
 
 
}
.middle {

   width: 70%;
   height: 100%;
  
   
  }
  .carousel-wrapper{
    width: 70%;
    height: 600px;
    position: relative;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  
  }
  
  .carousel-wrapper img {
    display:none;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
  }
  
  
  
  .carousel-wrapper img.image-active{
    display: block;
    width: 100%;
    height: 600px;
   
   
   
  }

#right { 
  
  width: 2%;
  height: 6%;
 margin: auto 0;
  
  
}
.oppacity{
  opacity: 0.6;
}

#left img:hover {
  transform: scale(1.3);
}




/* dots./ indcators */


.carousel-dot-container{
  position:absolute;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 2rem;
}

.dot {
   cursor: pointer;
   height: 7px;
   width: 70px;
   margin: 0 5px;
   background-color: rgb(243, 247, 242);
   display: inline-block;
   transition: opacity 0.6s ease;
   opacity: 0.4;

}

.active, .dot:hover{
   opacity: 1;
   background-color:  rgb(195, 88, 108);;
}

.fadeimage {
   animation-name: fade;
   animation-duration: 1.4s;
}


@keyframes fade {
   from {
       opacity: 0.4;
   }
   to{
       opacity: 1;
   }
}


.name-container {
  position:absolute;
  right: 10px;
  bottom: 2px;
  padding: 0;
 
}

.trip-name {
 
  margin-right: 30px;
  color: rgb(195, 88, 108);;
  display: inline-block;
  font-weight: bold;

}


#userinfo{
  display: flex;
  background-color: beige;
  position: absolute;
  border-radius: 20px;
  padding: 40px;
  width: 300px;
  top: -400px;
  
  right: 2%;
  flex-direction: column;
  margin: auto;
  z-index: 10000;
  transition: top 0.6s ease-in-out;
}


#userinfo::after, #userinfo::before{
     content: '';
     position: absolute;
     background-color: white;
     left: 0;
     height: 300px;
     width: 20px;
     
}



