
.container-fluid{
    background-image: url(/../assets/images/girl.JPG);
    min-height: 100vh;
    max-height: max-content;
    min-width: 100vw;
    filter: blur(9px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    overflow: hidden;
}

.container-bg{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 30px;
    top: 1%;
    left: 1%;  
    width: 98%;
    height: 98%;
}
.container {
    width: 100%;
    height: 100%;
}

.error {
    color: red;
}

p, label{
    color: rgb(240, 78, 167);
}
button{
    color: white;
}
h1,h2,h3,h4,h5,h5,h6{
    color: white;   
}

span{
    color: red;
}

.btn {
    
    color: rgb(242, 245, 247);
    background-color: rgb(236, 42, 149);
    margin-left: 10px;
    
   
}

/* Image  */

.figure{
    height: 300px;
}

.padding-0{
    padding-bottom: 0;
}

p, h1, h2, h3, h4, h6 {
    color: rgb(236, 42, 149);
}





.container-grid {
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* max-width: 750px; */
    gap: 15px;
    top: 10;
    left: 0;
    right: 0;
    margin: 20px auto;
        
}

.images-wrapper{
    position: relative;
    width: 14vw;
    height: 30vh;
    background-color: blanchedalmond;
    border-radius: 18px;

}

.image-fluid{
    position: absolute;
    width: 14vw;
    height: 30vh;
    border-radius: 18px;

}


/* Add and remove button */

.add-orremove-container{
    
    position: absolute;
    bottom: -10px;
    right: -10px;

}

.image-controller{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.image-controller:hover{
    transform: scale(1.1);
}

.btn-save {
    background-color: rgb(195, 88, 108);
    color: white;
}

.error-input-border {
    border: 1px solid #FF0000;
}

/* Utilities */

.text-mut{
    color: white;
    opacity: 0.3;
}

.grid {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 20px;
}


/* Medium Screen */

@media(max-width: 775px ){

     
     
       
       .row  #date {
           display: none;
       }

       .row p {
           display: none;
       }

       .photo-upload{
           display: gone;
       }

       .text-mut {
         display: none;
         margin-top: 10px;
         margin-bottom: 10px;
       }

       .wrapper-sl {
           display: none;
       }

       .container-fluid{
           width: max-content;
       }
       

       .container-grid{
           display: grid;
           grid-template-columns: 1fr;
           grid-template-rows: 1fr;
           overflow: hidden;
       }

       .grid {
           display: grid;
           grid-template-columns: 60% 40%;
       }

       .container-bg{
           left: 0;
           right: 0;
           min-width: 100vw;
           overflow: hidden;
       }

       .container  {
        min-width: 780px;
       } 

       .container .pt-5 {
           padding: 0;
       }

       .images-wrapper {
        width: 20vw;
        height: 30vh;
       }

       .small-screen-padding{
           margin-bottom: 10px;
       }
}

@media(max-width: 650px){
      
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }


}

@media(max-width: 550px){
      
    .grid {
        display: grid;
        grid-template-columns: 40% 60%;
    }


}



