
.error {
    color: red;
}

p, label{
    color: white;
}
button{
    color: white;
}
h1,h2,h3,h4,h5,h5,h6{
    color: white;
}

span{
    color: red;
}

.btn {
    
    color: rgb(242, 245, 247);
    background-color: rgb(236, 42, 149);
    
   
}

/* Image  */

.figure{
    height: 300px;
}

.padding-0{
    padding-bottom: 0;
}

p {
    color: brown;
}



.container-grid {
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 750px;
    gap: 15px;
    top: 50;
    left: 0;
    right: 0;
    margin: 80px auto;
   
    
    
      
}

.images-wrapper{
    position: relative;
    width: 250px;
    height: 300px;
    background-color: blanchedalmond;
    border-radius: 18px;

}

.image-fluid{
    position: absolute;
    width: 250px;
    height: 300px;
    border-radius: 18px;

}


/* Add and remove button */

.add-orremove-container{
    
    position: absolute;
    bottom: -10px;
    right: -10px;

}

.image-controller{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.image-controller:hover{
    transform: scale(1.1);
}

.btn-save {
    background-color: rgb(195, 88, 108);
    color: white;
}

.error-input-border {
    border: 2px solid #FF0000;
}



