
<div class="container-fluid"></div>
<div class="container-bg">
    <div class="container">
        <div class="grid pt-5">
            <div class="">
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="" class="label">You are a  <span>*</span></label>
                                    <select class="form-select" [ngClass]="{'error-input-border' : genderEmpty}" 
                                    (input)="genderChanged($event)" 
                                    [(ngModel)]="gender" aria-label="Selection one"  aria-placeholder="Selection one">
                                
                                        <option *ngFor="let g of genderOptions ; let i = index" [value]="i">{{g.name}}</option>
                                    
                                    </select>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="" class="label">Looking for a  <span>*</span></label>
                                    <select class="form-select" [ngClass]="{'error-input-border': lkgenderEmpty}" 
                                     (input)="lkgenderChanged($event)"
                                     [(ngModel)]="lookingGender" aria-label="Selection one" aria-placeholder="Selection one">
                                        <option *ngFor="let gl of genderLookOptions; let i = index" [value]="i">{{gl.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="" class="label">Your Location? <span>*</span></label>
                            <select class="form-select" [(ngModel)]="state" (input)="stateChanged()"
                            [ngClass]="{'error-input-border' : stateEmpty}"
                             aria-label="Default select example" 
                             (change)="stateSelected(state)">
                                <option *ngFor="let st of stateList; let i = index" [value]="i" >{{st.name}}</option>
                            </select>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="form-group">

                            <select  [(ngModel)]="city" class="form-select"
                               [ngClass]="{'error-input-border': cityEmpty}"
                               (input)="cityChanged($event)"
                            >
                                 <option *ngFor="let city of cityList"> {{city.name}}</option>
                            </select>
                        </div>
                    </div>
                   
                    <h6>Date of birth <span>*</span></h6>
                    <div class="row">
                       
                        <div class="col-md-12">
                            <div class="form-group small-screen-padding">
                                <input type="date" value="2006-11-31"   max="2006-12-31" 
                                [ngClass]="{'error-input-border': dateEmpty}"
                                (input)="dateChanged()"
                                (change)="birthdayInput($event)" [(ngModel)]="day" class="form-control" required>
                            </div>
                        </div>
                
                        <br>
                        <p id="date"  class=" text-mut">
                            Your date of birth will be used to calculate your age.</p>
                       
                    </div>

                    <div class="row">
                        <div class="form-group small-screen-padding">
                            <input type="email" [ngClass]="{'error-input-border' : emailEmpty}" [(ngModel)]="email" (focusout)="emFocusOut($event)" (input)="emailChanged($event)" class="form-control" placeholder="email address ">
                        </div>
                        <p class="text-mut">Your email address remain PRIVATE.</p>
                        <p class="error" *ngIf="emailError">Email already exist</p>
                        <p class="error" *ngIf="emailValid">enter valid email</p>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group small-screen-padding">
                                <input type="text" [(ngModel)]="username" class="form-control" 
                                [ngClass]="{'error-input-border': usernameEmpty}"
                                (input)="onUsernameChaged($event)" placeholder="Choose Your Username">
                                    </div>
                                    <p class=" text-mute">Minimum 4 characters.</p>
                                    <p class="error" *ngIf="usernameError">Username already exist!</p>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group small-screen-padding">
                                <input type="password" class="form-control" [(ngModel)]="password"
                                [ngClass]="{'error-input-border': passwordEmpty}"
                                (input)="passwordChanged()" 
                                placeholder="Choose your password">
                            </div>
                           
                        </div>
                    
                    </div>
                   

            </div>
    
            <div class="photo-upload">
                <div class="container pl-1">
                    <h6 class="padding-left-md">Profile Photo</h6>
                
                    <div class="container-grid">
                                <div class="images-wrapper"
                                [ngClass]="{'error-input-border': imageEmpty }"
                                >
                                    <img [src]="yourimages[0]" *ngIf="yourimages[0]" alt="" class="image-fluid">

                                    <div class="add-orremove-container"  >
                                        <input
                                        style="display: none"
                                        type="file"
                                        (change)="onFileChanged($event)"
                                        #fileInput>
                                        <img *ngIf="yourimages[0] && !yourimages[1]"  (click)="removeImage(0)" src="../../../assets/images/removeimage.png" alt="" class="image-controller">
                                        <img *ngIf="!yourimages[0]" (click)="fileInput.click()" src="../../../assets/images/addimage.png" alt="" class="image-controller">
                                    </div>
                                </div>

                                <div class="images-wrapper">
                                    <img [src]="yourimages[1]" *ngIf="yourimages[1]" alt="" class="image-fluid">
                                    <div class="add-orremove-container">
                                        <input
                                        style="display: none"
                                        type="file"
                                        (change)="onFileChanged1($event)"
                                        #fileInput1>
                                        <img *ngIf="yourimages[1] && !yourimages[2]" (click)="removeImage(1)" src="../../../assets/images/removeimage.png" alt="" class="image-controller">
                                        <img *ngIf="!yourimages[1] && yourimages[0]" (click)="fileInput1.click()" src="../../../assets/images/addimage.png" alt="" class="image-controller">
                                    </div>
                                </div>

                                <div class="images-wrapper wrapper-sl">
                                    <img [src]="yourimages[2]" *ngIf="yourimages[2]" alt="" class="image-fluid">
                                    <div class="add-orremove-container">
                                        <input
                                            style="display: none"
                                            type="file"
                                            (change)="onFileChanged2($event)"
                                            #fileInput2>
                                            <img *ngIf="yourimages[2] && !yourimages[3]" (click)="removeImage(2)" src="../../../assets/images/removeimage.png" alt="" class="image-controller">
                                        <img *ngIf="!yourimages[2] && yourimages[1]" src="../../../assets/images/addimage.png" (click)="fileInput2.click()" alt="" class="image-controller">
                                    </div>
                                </div>

                                <div class="images-wrapper wrapper-sl">
                                    <img [src]="yourimages[3]" *ngIf="yourimages[3]" alt="" class="image-fluid">
                                    <div class="add-orremove-container">
                                        <input
                                            style="display: none"
                                            type="file"
                                            (change)="onFileChanged3($event)"
                                            #fileInput3>
                                            <img *ngIf="yourimages[3] && !yourimages[4]" (click)="removeImage(3)" src="../../../assets/images/removeimage.png" alt="" class="image-controller">
                                        <img *ngIf="!yourimages[3] && yourimages[2]" src="../../../assets/images/addimage.png" (click)="fileInput3.click()" alt="" class="image-controller">
                                    </div>
                                </div>

                                <div class="images-wrapper wrapper-sl">
                                    <img [src]="yourimages[4]" *ngIf="yourimages[4]" alt="" class="image-fluid">
                                    <div class="add-orremove-container">
                                        <input
                                        style="display: none"
                                        type="file"
                                        (change)="onFileChanged4($event)"
                                        #fileInput4>
                                        <img *ngIf="yourimages[4] && !yourimages[5]" (click)="removeImage(4)" src="../../../assets/images/removeimage.png" alt="" class="image-controller">
                                    <img *ngIf="!yourimages[4] && yourimages[3]" src="../../../assets/images/addimage.png" (click)="fileInput4.click()" alt="" class="image-controller">
                                    </div>
                                </div>

                                <div class="images-wrapper wrapper-sl">
                                    <img [src]="yourimages[5]" *ngIf="yourimages[5]" alt="" class="image-fluid">
                                    <div class="add-orremove-container">
                                        <input
                                        style="display: none"
                                        type="file"
                                        (change)="onFileChanged5($event)"
                                        #fileInput5>
                                        <img *ngIf="yourimages[5]" (click)="removeImage(5)" src="../../../assets/images/removeimage.png" alt="" class="image-controller">
                                    <img *ngIf="!yourimages[5] && yourimages[4]"  src="../../../assets/images/addimage.png" (click)="fileInput5.click()" alt="" class="image-controller">
                                    </div>
                                </div>

                
                       
                       
                        </div>

                        <div class="wrapper-sl">
                            <p class="lead">Add at least 1 photo to continue</p>
                        </div>
                </div>
        
            </div>

        </div>
        <div class="d-flex justify-content-center">

            <button class="btn" (click)="singin()" >SIGN IN</button>
            <button class="btn" (click)="continue()" >CONTINUE</button>
           
        </div>   
    </div>
       
   
</div>