

<div class="container-bg">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="" class="label">You are a  <span>*</span></label>
                            <select class="form-select" aria-label="Selection one" aria-placeholder="Selection one">
                        
                                <option value="1">Woman</option>
                                <option value="2">Man</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="" class="label">Looking for a  <span>*</span></label>
                            <select class="form-select" aria-label="Selection one" aria-placeholder="Selection one">
                        
                                <option value="1">Woman</option>
                                <option value="2">Man</option>
                              </select>
                        </div>
                    </div>
                </div>

               <div class="row">
                <div class="form-group">
                    <label for="" class="label">Where do you live? <span>*</span></label>
                    <select class="form-select" aria-label="Default select example">
                        
                        <option value="1">US</option>
                        <option value="2">Canada</option>
                      </select>
                </div>
                <br>
                <br>
                <hr>
                <div class="form-group">
                 <input type="text" class="form-control" placeholder="City">
                </div>
               </div>
               <hr>
               <h6>Date of birth <span>*</span></h6>
               <div class="row">
                   <div class="col-md-4">
                       <div class="form-group">
                        <label for="">Month</label>
                        <input type="text" class="form-control" placeholder="mm">
                       </div>
                   </div>
                   <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Day</label>
                        <input type="text" class="form-control" placeholder="dd">
                       </div>
                   </div>
                   <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Year</label>
                            <input type="text" class="form-control" placeholder="yyyy">
                           
                        </div>
                   </div>
                   <br>
                   <p class=" text-muted d-flex justify-content-center">Your date of birth will be used to calculate your age.</p>
               </div>

               <div class="row">
                   <div class="form-group">
                       <input type="email" class="form-control" placeholder="email address ">
                   </div>
                   <p class=" text-muted d-flex justify-content-center">Your email address remain PRIVATE.</p>
               </div>
               <div class="row">
                   <div class="form-group">
                   <input type="text" class="form-control" placeholder="Choose Your Username">
                    </div>
                    <p class=" text-muted d-flex justify-content-center">No spaces, brackets or quotes Minimum 4 characters.</p>
               </div>
               <div class="row">
                   <input type="password" class="form-control" placeholder="Choose your password">
               </div>
               <hr>

               <div class="row">
                   <button class="btn" (click)="continue()">CONTINUE</button>
               </div>
    
            </div>
    
            <div class="col-md-6">
              <div class="container pl-1">
                <h6 class="padding-left-md">Profile Photo</h6>
               <div class="row row-cols-2">
                   <div class="col mb-0">
                    
                    <figure class="figure px-0">
                        <img src="../../../assets/images/girl.JPG" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption text-end"></figcaption>
                      </figure>
                   </div>
                   <div class="col mb-0">
                    <figure class="figure px-0">
                        <img src="../../../assets/images/girl.JPG" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption text-end"></figcaption>
                      </figure>
                   </div>
                   <div class="col">
                 
                    <figure class="figure">
                        <img src="../../../assets/images/girl.JPG" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption text-end"></figcaption>
                      </figure>
                   </div>
                   <div class="col">
                    <figure class="figure">
                        <img src="../../../assets/images/girl.JPG" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption text-end"></figcaption>
                      </figure>
                   </div>
                   
               </div>
                <div class="row">
                    <p class=" text-muted d-flex justify-content-center">Add at least 2 photos to coninue.</p>
                </div>
        
              </div>
    
            </div>
        </div>
    </div>
</div>