<!-- <mat-tab-group  disableRipple animationDuration="1000ms">
    <mat-tab label="Messages">
        <div class="text-center messageiconempty">
            <img src="../../../assets/images/messageiconempty.png" alt="" class="img-fluid ">
            <p class="sayhi">Say Hi!</p>
        </div>
       

        <p class="message-warn text-center">
            Connect with others and message them!
        </p>
    </mat-tab>
    <mat-tab label="Connections">
       
       
        <div class="image-profile">
            <img class="img-fluid2 " src="/../assets/images/shek.jpg" alt="shek" >

            <p>Shekinah</p>
        </div>
      
         
    </mat-tab>
    
   
</mat-tab-group> -->


<div class="tabs">
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
    <label for="tab1" class="tabs__label">Messages</label>
    <div class="tabs__content">
        <div class="text-center messageiconempty">
            <img src="../../../assets/images/messageiconempty.png" alt="" class="img-fluid ">
            <p class="sayhi">Say Hi!</p>
        </div>
       

        <p class="message-warn text-center">
            Connect with others and message them!
        </p>
    </div>
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
    <label for="tab2" class="tabs__label">Connections</label>
    <div class="tabs__content">
        <div class="image-profile">
           <div class="aboutperson">
            <h3>Fun girl</h3>
            <h6>Age: 32</h6>
            <h6>New York, New York City</h6>

           </div>
           <div class="personimage">
            <img class="img-fluid2 rounded-circle " src="/../assets/images/designone.jpg" alt="shek" >


           </div>
                       
        </div>
    </div>
  </div>
  

   