




<div class="tabs">

    <nav class="navbar">
      
        <ul>
            <li>Message</li>
            <li>Connection</li>
        </ul>
        
    </nav>
    
    <div class="tabs-content">
        <div class="text-center messageiconempty">
            <img src="../../../assets/images/messageiconempty.png" alt="" class="img-fluid ">
            <p class="sayhi">Say Hi!</p>
        </div>
       

        <p class="message-warn text-center">
            Connect with others and message them!
        </p>
   </div>
    <!-- <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
    <label for="tab1" class="tabs__label">Messages</label>
    <div class="tabs__content">
        <div class="text-center messageiconempty">
            <img src="../../../assets/images/messageiconempty.png" alt="" class="img-fluid ">
            <p class="sayhi">Say Hi!</p>
        </div>
       

        <p class="message-warn text-center">
            Connect with others and message them!
        </p>
    </div>
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
    <label for="tab2" class="tabs__label">Connections</label>
    <div class="tabs__content">
        <div class="image-profile">
           <div class="aboutperson">
                <h3>Fun girl</h3>
                <h6>Age: 32</h6>
                <h6>New York, New York City</h6>

           </div>
           <div class="personimage">
              <img class="img-fluid2 rounded-circle " src="/../assets/images/designone.jpg" alt="shek" >
           </div>
                       
        </div>
    </div> -->
  </div>
  

   