

p,h1{
    color: white;
}

h3, h4, h5, h6{
    color: rgb(195, 88, 108);
}

:host ::ng-deep .mat-ripple-element {
    position: fixed;
  }

.mat-tab-label {
   
    min-width: 105px !important;
    padding: 5px;
    margin-left: 20px;
    background-color: transparent;
    color: White;
    font-weight: 700;
   
    
}

.mat-tab-label:hover{
    transform: scale(1.3);
}

.mat-tab-label.mat-tab-label-active {
    min-width: 105px !important;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-weight: bold;
   
}

.mat-ink-bar {
    background-color: rgb(195, 88, 108);
    height: 6px;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: rgb(195, 88, 108);
    height: 4px;
}


.message-warn{
    margin-top: 250px;
    opacity: 0.6;
}

.messageiconempty{
    margin-top: 120px;
}

.sayhi{

    margin-left: 150px;
    margin-top: 50px;
}



/*  Connection part */



.image-profile{
    display: inline-flex;
    margin-left: 20px;
    margin-top: 30px;
   
}

.img-fluid2 {
    
     height: 120px;
     width: 120px;
     margin-left: 20px;
     

}

.aboutperson {
    width: 400px;
}

.img-fluid2:hover{
    
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    font-family: sans-serif;
  }
  
  .tabs__label {
    padding: 10px 16px;
    color: white;
    cursor: pointer;
  }
  
  .tabs__radio {
    display: none;
  }
  
  .tabs__content {
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
  }
  
  .tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: white;
    border-bottom: 2px solid rgb(195, 88, 108);
  }
  
  .tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
  }
  
