<div class="container">
    <div class="row pt-5">
        <div class="col">
            <h3>Do you drink?</h3>
            <hr>
            <div class="row">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"/>
                    <label class="form-check-label" for="flexRadioDefault1"> I'll tell you later </label>
                  </div>
                  <br>
                  <!-- Default checked radio -->
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked/>
                    <label class="form-check-label" for="flexRadioDefault2"> Never </label>
                  </div>
                  <br>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"/>
                    <label class="form-check-label" for="flexRadioDefault1"> Socially </label>
                  </div>
                  <br>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4"/>
                    <label class="form-check-label" for="flexRadioDefault1"> Regularly </label>
                  </div>
            </div>

              <h3>Do you smoke?</h3>
              <hr>
           <div class="row">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5"/>
                <label class="form-check-label" for="flexRadioDefault1"> Non Smoker </label>
              </div>
              <br>
              <!-- Default checked radio -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked/>
                <label class="form-check-label" for="flexRadioDefault3"> Smoker </label>
              </div>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7"/>
                <label class="form-check-label" for="flexRadioDefault1"> Social Smoker </label>
              </div>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault8"/>
                <label class="form-check-label" for="flexRadioDefault1"> Trying to Quit </label>
              </div>
           </div>
              
        </div>
        <div class="col">
            <div class="container">
                <h3>About Me</h3>
                <textarea name="" id="" cols="15" rows="8" class="form-control"
                    placeholder="say something interesting ....">
                </textarea>

                <hr>
                <h3>interest</h3>
                <textarea name="" id="" cols="15" rows="7" class="form-control"
                    placeholder="say something interesting ....">
                </textarea>

                
            </div>
        </div>
    </div>

    <hr>
    <div class="">
        <button class="btn">NEXT</button>
    </div>

</div>