<div class="container">
    <div class="row pt-5">
        <div class="col">
            <h3>Do you drink?</h3>

            <hr>
            <hr>
            <div class="row">

                <div class="form-check" *ngFor="let item of itemsList" >
                    <input class="form-check-input"
                    [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)"
                    type="radio" name="flexRadioDefault" id="flexRadioDefault"/>
                    <label class="form-check-label" for="flexRadioDefault"> {{item.name}} </label>
                  </div>
                  <br>
                 
    
            </div>

              <h3>Do you smoke?</h3>
              <hr>
           <div class="row">
            <div class="form-check" *ngFor="let item of itemsListSmoker" >
                <input class="form-check-input"   [(ngModel)]="radioSelectedSmoker"
                value="{{item.value}}" (change)="onItemChangeSmoker(item)"
                type="radio" name="flexRadioDefault1" id="flexRadioDefault1"/>
                <label class="form-check-label" for="flexRadioDefault1"> {{item.name}} </label>
              </div>
              <br>
              <!-- Default checked radio -->
             
              <br>
             
           </div>
              
        </div>
        <div class="col">
            <div class="container">
                <h3>About Me</h3>
                <textarea name="" id="" cols="15" rows="8" class="form-control" [(ngModel)]="about"
                    placeholder="say something interesting ....">
                </textarea>

                <hr>
                <h3>interest</h3>
                <textarea name="" id="" cols="15" rows="7" class="form-control" [(ngModel)]="interest"
                    placeholder="say something interesting ....">
                </textarea>

                
            </div>
        </div>
    </div>

    <hr>
    <div class="">
      <button class="btn" (click)="previous()">PREVIOUS</button> <button class="btn" (click)="next()">NEXT</button>
    </div>

</div>