

:root {
    --primary-color: rgb(236, 42, 149);
}
p, label{
    color: white;
}
button{
    color: white;
}
h1,h2,h3,h4,h5,h5,h6{
    color: rgb(236, 42, 149);
}
.btn {
    
    color: rgb(242, 245, 247);
    background-color: rgb(236, 42, 149);
    margin: 10px;
    
   
}

.container-main{
    /* background: rgb(32, 34, 46); */
    margin: 0 100px;
    padding-top: 50px;
    height: 100vh;
}

textarea {
    border: none;
    border-bottom: 2px solid rgb(236, 42, 149)
}

.container-fluid{
    background-image: url(/../assets/images/girl.JPG);
    min-height: 100vh;
    min-width: 100vw;
    filter: blur(9px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    overflow: hidden;
}

.container-bg{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 30px;
    top: 10%;
    left: 10%;  
    width: 80%;
    height: 80%;
}
.container {
    width: 100%;
    height: 100%;
}
