


<div class="container-fluid">
    <div class="f">
  <h1 class="h1 d-flex justify-content-center"> Great !</h1>
   <br>
   <br>
   <h4 class="d-flex justify-content-center">Your profile is now ready. </h4>

   <br>
     <div class="d-flex justify-content-center">
     <img src="../../assets/images/trippallogo.png" alt="" class="img-fluid ">
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center" >
          <button class="btn btn-primary" (click)="goToDashBoard()">GO TO YOUR DASHBOARD</button>
    </div>
</div>
</div>