

<div class="container">
    <div class="row pt-5">
        <div class="col">
            <h3>What Do you do?</h3>

            <hr>
            <hr>
            <div class="row">
                

                <div class="col-md">
                    <div class="form-group">
        
                        <select class="form-select" aria-label="Selection one" aria-placeholder="Selection one">
                    
                            <option value="1">Publishing / Print Media</option>
                            <option value="2">Computer Programmer</option>
                          </select>
                    </div>

                    <br>
                    <br>

                    <h3> Income</h3>

                    <div class="form-grou">
                        <mat-slider aria-label="unit(s)" min="1" max="5" step="0.5" value="1.5"></mat-slider>

                    </div>

                  <br>


                  <h3>Education</h3>
                  <div class="form-group">
        
                    <select class="form-select" aria-label="Selection one" aria-placeholder="Selection one">
                
                        <option value="1">Bachelor's Degree</option>
                        <option value="2"> Masters</option>
                      </select>
                </div>
                
            </div>
             

           

           </div>
              
        </div>
    
    </div>

    <hr>
    <div class="">
      <button class="btn" (click)="previous()">PREVIOUS</button> <button class="btn" (click)="next()">Save</button>
    </div>

</div>