
<main>
    <div  class="container-fluid"> </div>
       <div class="content">
       <div class="container">
                  <div class="login">
                     <button class="btn" (click)="loginPage()">
                        LOG IN 
                     </button>
                  </div>
                  
                  <div class="profile">
                     <img src="../../assets/images/trippallogo.png" alt="" class="img-fluid ">
                 </div>
            
                  <div class="create">
                     <button class="btn" (click)="createAccountPage()">
                        SIGN UP
                     </button>
                  </div>

     </div>
   </div>
  
   
  </main>
  
  