

.header{
    background-color: rgb(195, 88, 108);
    height: 200px;
    border-bottom-right-radius: 110px;
}

.left-page{
    background: rgb(32, 34, 46);
    height: 100vh;
}

p, label,button,h1,h2,h3,h4,h5,h5,h6{
    color: white;
}

.profile-image{
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-top: 30px;
    margin-left: 30px;
  }

 .column2 {
    float: left;
    width: 20%;
   
    margin-top: 70px;
  }

  .column2 p{
      font-weight: bold;
  }

  .img-fluid:hover{
    transform: scale(1.3);
}

.h5:hover span {
    display: none;
}
.h5 p {
    padding: 15px;
    margin: 5px;
   
}
.h5:hover{
    transform: scale(1.3);
   
    
   
}
.h5:hover::before{
    /* transform: scale(1.6); */
    content: "LOGOUT";
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}


/* Message and Connection part */



p,h1 {
    color: white;
}

:host ::ng-deep .mat-ripple-element {
    position: fixed;
  }

.mat-tab-label {
   
    min-width: 105px !important;
    padding: 5px;
    margin-left: 20px;
    background-color: transparent;
    color: White;
    font-weight: 700;
   
    
}

.mat-tab-label:hover{
    transform: scale(1.3);
}

.mat-tab-label.mat-tab-label-active {
    min-width: 105px !important;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-weight: bold;
   
}

.mat-ink-bar {
    background-color: rgb(195, 88, 108);
    height: 6px;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: rgb(195, 88, 108);
    height: 4px;
}


.message-warn{
    margin-top: 250px;
    opacity: 0.6;
}

.messageiconempty{
    margin-top: 120px;
}

.sayhi{

    margin-left: 150px;
    margin-top: 50px;
}


/* Edit profile page */

.edit-profile-images {
    margin-left: 0;
    margin-right: 0;

    margin-top: 90px;
    justify-content: center;
}

.profile-images , .about , .delete-account{
    background-color: rgb(195, 88, 108);
    height: 120px;
    padding: 20px;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}


.profile-images:hover , .about:hover , .delete-account:hover{
    transform: scale(1.1)
}


.active{
    opacity: 0.3;
    
}


 
 

