


.header{
    background-color: rgb(195, 88, 108);
    height: 15%;
    border-bottom-right-radius: 110px;
}

.left-page{
    background: rgb(32, 34, 46);
    min-height: 100vh;
    
}

p, label,button,h1,h2,h3,h4,h5,h5,h6{
    color: white;
}

.profile-image{
    height: 120px;
    width: 120px;
    /* display: none; */
    cursor: pointer;
}

.column {
    float: left;
    width: 33.33%;
    height: 20%;
    padding: 5px;
    margin-top: 30px;
    margin-left: 30px;
  }

 .column2 {
    float: left;
    width: 20%;
   
    margin-top: 70px;
  }

  .column2 p{
      font-weight: bold;
  }

  .img-fluid{
      height: 90px;
      width: 90px;
  }
  .img-fluid:hover{
    transform: scale(1.3);
}

.h5:hover span {
    display: none;
}
.h5 p {
    padding: 15px;
    margin: 5px;
   
}
.h5:hover{
    transform: scale(1.3);
   
    
   
}
.h5:hover::before{
    /* transform: scale(1.6); */
    content: "LOGOUT";
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}


/* Message and Connection part */

p,h1 {
    color: white;
}




.message-warn{
    margin-top: 250px;
    opacity: 0.6;
}

.messageiconempty{
    margin-top: 120px;
}

.sayhi{

    margin-left: 150px;
    margin-top: 50px;
}


/* Edit profile page */

.edit-profile-images {
    margin-left: 0;
    margin-right: 0;

    margin-top: 90px;
    justify-content: center;
}

.profile-images , .about , .delete-account{
    background-color: rgb(195, 88, 108);
    height: 120px;
    padding: 20px;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}


.profile-images:hover , .about:hover , .delete-account:hover{
    transform: scale(1.1)
}


.active{
    opacity: 0.3;
    
}

.activ {
    color: rgb(195, 88, 108);
    font-weight: bold;
    border-bottom:  1px solid rgb(195, 88, 108);
   
   
}





.activ ul {
    pointer-events: none;
}


/* New Css */

.grid {
    display: grid;
    grid-template-columns: 30% 60%;
    overflow: hidden;
}



/*  */


/* Nav bar  */

.navbar {
    margin: 5px 0;
    
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

.navbar ul li {
   font-size: 26x;
   font-weight: bolder;
   font-family: 'Lato', sans-serif;
   color: white;
   /* pointer-events: none; */
}

.navbar button {
     background-color: transparent;
     border: none;
}

.navbar ul li {
  list-style: none;
  padding-bottom: 5px;

}

.navbar ul li:hover  {
     
  border-bottom:  2px solid rgb(255, 255, 255);
}

.navbar ul li:hover .activ {
    border-bottom: none;
}


.btn-navbar{
   
  background: transparent;
  border: none;
  color: var(--primarry-color);
}


/* Left Page */

.tabs {
    
    /* max-width: 100%; */
    min-height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
    
  }


  .tabs-content{
      /* display: none; */
  }



  /* Image profile */

  .image-profile{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 95%;
    margin-left: 10px;
    margin-top: 30px;
    
   
}

.img-fluid2{
    width: 120px;
    height: 120px;
}
 


 
 

