<div class="container-fluid g-0">
    <div class="row g-0">
        <div class="grid">
            <div class="left-page">
                <div class="header">

                    <div class="column">
                            <img class="img-fluid rounded-circle" [src]="profileImage" 
                            alt="" (click)="editProfile()">    
                    </div>

                    <div class="column2">
                        <p class="h5" (click)="logout()"> <span> {{username}}</span> </p>
                    </div>
                    
                    <div class="column3">
                        <nav class="navbar" *ngIf="mesconsmallscreen == true">
                            <ul #mescon>
                                <li id="messages" 
                                [ngClass]="{activ: isSelected == false}"
                                 (click)="openMessagePage()">
                                    
                                   <button>Messages & Connections</button>
                                </li>
                                <li id="people"  [ngClass]="{activ: isSelected == true}" (click)="peopleButtonClicked()">
                                    <button>People</button>
                                </li>
                            </ul>
                            
                        </nav> 
                    </div>

                </div>
                <!-- <app-message-connection *ngIf="rightSideContent == 1"></app-message-connection> -->

                <div class="main-tab" *ngIf="rightSideContent == 1">
                    <app-message-connection></app-message-connection>
   
                </div>


                <!-- End of Messages of Connections  -->

                <div class="edit-profile-images" *ngIf="rightSideContent === 2">
                    <div class="profile-images" (click)="gotoProfileImages()"
                    [ngClass]="{'active': accountsetting}"
                    >
                        <h3>Edit profile images</h3>
                    </div>

                    <div class="about" (click)="gotoAbout()"
                    [ngClass]="{'active': editabout}"
                    >
                        <h3>Edit about</h3>
                    </div>
                    <div class="delete-account" (click)="gotoDeleteaccount()"
                    [ngClass]="{'active': deleteaccount}"
                    >
                        <h3>Delete Account</h3>
                    </div>
                </div>
                
            </div>
            <div class="bottom-page">
               
                <div class="icon-control" >
                    <div class="profiler" *ngIf="mesconsmallscreen == false">
                        <button class="btn-edit">
                            <i class="material-icons md-48 image" 
                            (click)="gotoProfileImages()"
                            [ngClass]="{'image-active': accountsetting}">image</i>
                       </button>
                       <button class="btn-edit">
                            <i class="material-icons md-48 settings" 
                            (click)="gotoAbout()"
                            [ngClass]="{'image-active': editabout}">settings</i>
                       </button>
                       
                       <button class="btn-edit">
                            <i class="material-icons md-48 delete" 
                            (click)="gotoDeleteaccount()"
                            [ngClass]="{'image-active': deleteaccount}">delete</i>
                       </button>
                      
                    </div>
                </div>
                <div class="route-outlet">
                    <router-outlet></router-outlet>
                </div>
               
                
            </div>
    </div>
    </div>
</div>