

<div class="first-row">
    <div class="whereyoulive">
        <h4>Where Do you live?</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="States">
            <br>
           
            <input type="text" class="form-control" placeholder="City">
        </div>
    </div>

    <div class="aboutme">
        <h4>About Me</h4>
        <div >
            <textarea class="form-control" name="" id="" cols="22" rows="3" placeholder="Your personal tale"></textarea>
        </div>
    </div>

    <div class="interest">
        <h4>interest</h4>
        <div >
            <textarea  class="form-control" name="" id="" cols="22" rows="3" placeholder="Dreamer"></textarea>
        </div>
    </div>
</div>


<div class="second-row">
    <div class="doyoudrink">
        <h4>Do you drink ?</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault"/>
            <label class="form-check-label" for="flexRadioDefault1"> I'll tell you later </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault"/>
            <label class="form-check-label" for="flexRadioDefault1"> Never </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault"/>
            <label class="form-check-label" for="flexRadioDefault1"> Regularly </label>
          </div>
           <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault"/>
                    <label class="form-check-label" for="flexRadioDefault1"> Socially </label>
            </div>
    </div>

    <div class="doyousmoke">
        <h4>Do you Smoke ?</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2"/>
            <label class="form-check-label" for="flexRadioDefault1"> Non smoker </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2"/>
            <label class="form-check-label" for="flexRadioDefault1"> Smoker </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2"/>
            <label class="form-check-label" for="flexRadioDefault1"> Social smoker </label>
          </div>
           <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2"/>
                    <label class="form-check-label" for="flexRadioDefault1"> Trying to quit </label>
            </div>
    </div>

    <div class="doyouhavekids">
        <h4>Do you have kids ?</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3"/>
            <label class="form-check-label" for="flexRadioDefault1"> I'll tell later </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3"/>
            <label class="form-check-label" for="flexRadioDefault1"> No </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3"/>
            <label class="form-check-label" for="flexRadioDefault1"> Yes </label>
          </div>
    </div>

    <div class="doyouwantkids">
        <h4>Do you want kids ?</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4"/>
            <label class="form-check-label" for="flexRadioDefault1"> I'll tell later </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4"/>
            <label class="form-check-label" for="flexRadioDefault1"> No </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4"/>
            <label class="form-check-label" for="flexRadioDefault1"> Yes </label>
          </div>
    </div>

   
</div>


<div class="btn-color">
    <button class="btn">Save</button>
</div>
