
:root {
    --trippal-color : rgb(195, 88, 108);
}

.container {
    margin: 5px 1px 5px 5px;
    padding: 20px 5px 5px 15px;
    text-align: center;
}

.first-row{
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 40px;
   
}

h4 {
    color: var(--trippal-color);
}



.second-row{
    display: flex;
    justify-content: center;
    gap: 20px;
   margin-top: 60px;
}

.aboutme{
    margin-left: 35px;
}

.doyoudrink, .doyousmoke, .dohavekids , .doyouwantkids {
    margin-left: 10px;
}


.btn-color {
    
     display: flex;
     justify-content: center;

     margin-top: 70px;
}

.btn {
    background-color: rgb(195, 88, 108);
    color : white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}


.inputStyleBottom {
    border: none;
    border-bottom: 2px solid rgba(195, 88, 108, 0.6) ;
}