
:root {
    --trippal-color : rgb(195, 88, 108);
}

.first-row{
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 40px;
   
}

h4 {
    color: var(--trippal-color);
}



.second-row{
    display: flex;
    justify-content: center;
    gap: 20px;
   margin-top: 60px;
}

.aboutme{
    margin-left: 35px;
}

.doyoudrink, .doyousmoke, .dohavekids , .doyouwantkids {
    margin-left: 10px;
}


.btn-color {
    
     display: flex;
     justify-content: center;

     margin-top: 70px;
}

.btn {
    background-color: var(--trippal-color);
}


.inputStyleBottom {
    border: none;
    border-bottom: 2px solid rgba(195, 88, 108, 0.6) ;
}